.grid > .card {
  border-radius: 10%;
  display: flex;
  /* card dimesions */
  height: 2em;
  width: 2em;
  font-size: 4em;
  color: rgb(0, 0, 0);
  /* center the card label */
  align-items: center;
  justify-content: center;
  
    box-sizing: border-box;
    /* align-self: auto; */
    box-shadow: 0px 5px 10px rgba(49, 49, 49, 0.2);
  }
  
  .grid > .card.hidden:hover {
    /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2); */
    border: 5px solid #45a049;
    /* font-size: 4.1em; */
    /* transform: rotateZ(360deg) */
  }
  
  .card.matched {
    border: 3px solid #66D488;
    color:#66D488;
  }
  
  .card.missmatched {
    border: 3px solid  red;
    color:red;
  }

  .card.hidden {
    background-color:transparent;
    /* background-color: rgb(90, 5, 5); */
  }