.btn-container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
}

.btn-new-game {
  width: 10em;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}