.grid {
  /* display: inline-block; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  width: 100%;
  gap: 1%;
  /* padding: 1%; */
}

.grid > .card {
  border: 1px solid rgb(99, 31, 31);
  border-radius: 50%;
  display: flex;
  /* card dimesions */
  height: 2em;
  width: 2em;
  font-size: 4em;
  color: rgb(74, 89, 251);
  /* center the card label */
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  /* align-self: auto; */
}